.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(154.42deg, #417CFF 0.69%, #0039B6 70.47%);
}

.container > h1, .container > h2, .container h3, .container p {
    margin-inline: 0;
    margin-bottom: 0;
    color: white;
    letter-spacing: 0.05em;
}

.containerTitle {
    margin-top: 196px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}

.containerSubtitle {
    margin-top: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

.carousel {
    width: 1115px;
    margin-top: 36px;
}

.serviceBanner {
    width: 1115px;
    height: 346px;
    display: flex;
    margin-inline: auto;
    border-radius: 10px;
}

.serviceBanner:not(:first-child) {
    margin-top: 54px;
}

.serviceBanner > img {
    border-radius: 10px;
    object-fit: cover;
}

.bannerInfo {
    margin-left: 26px;
}

.bannerTitle {
    margin-top: 38px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.bannerDescription {
    margin-top: 42px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-top: 35px;
}

.buttonsContainer > button {
    background-color: white;
    border: none;
    border-radius: 50px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 12.2px;
}

.remark {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}

@media screen and (max-width: 1024px) {
    .containerTitle {
        font-size: 40px;
    }
}