.notFoundPage {
    width: 100%;
    padding: 100px 0;
    background-image: url("../../assets/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.notFoundContentContainer {
    max-width: 1115px;
    margin: 0 auto;
}