.aboutUsPage {
    padding-bottom: 136px;
}

.companyInfoContainer {
    display: flex;
    gap: 36px;
    padding: 0px 30px;
}

.map {
    width: 792px;
    height: 392px;
}

.map ymaps {
    border-radius: 10px;
}

.companyTextInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.companyInfoTitle, .companyInfo, .contactPhone {
    margin: 0;
}

.companyInfoTitle {
    font-weight: 600;
    
}

.contactPhone {
    font-style: italic;
}

@media (max-width: 1024px){
    .companyInfoContainer{
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }
    .map{
        width: 100%;
    }
    .map > ymaps:first-child{
        width: 100%;
    }
}