.equipmentGridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.title {
    margin-top: 90px;
    margin-bottom: 60px;
    color: #0139B6;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.05em;
    line-height: 59px;
}

.equipmentCard p {
    margin: 0;
    font-weight: bold;
}

.cardsContainer {
    display: flex;
    gap: 13.5px;
    margin-bottom: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.equipmentCard {
    box-shadow: none;
    padding: 13px;
    border-radius: 13px;
    font-family: "Montserrat", sans-serif;
    flex-shrink: 0;
}

.equipmentCard li {
    margin: 10px 0;
}

.equipmentCard img {
    background-color: #F8F8F8;
    border-radius: 10px;
}

.makeAppointmentBtn{
    margin-top: 50px;
}

@media (max-width: 1024px){
    .title{
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0 20px;
    }
    .cardsContainer{
        overflow-x: scroll;
        width: 100%;
    }
    .equipmentGridContainer{
        padding-bottom: 60px;
    }
}