.menuSection {
    max-width: 1115px;
    height: 610px;
    display: flex;
    flex-flow: column wrap;
    row-gap: 29px;
    column-gap: 43px;
    margin: 41px 0 109px;
    overflow: hidden;
}

.letterSection {
    max-width: 363px;
    display: flex;
    gap: 19px;
}

.letterTitle {
    margin: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.letterList {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1058px) {
    .menuSection{
        height: 826px;
    }
    .letterSection{
        width: 196px;
    }
}

@media (max-width: 710px) {
    .menuSection{
        height: 975px;
    }
    .letterSection{
        width: 196px;
    }
}

@media (max-width: 461px) {
    .menuSection{
        height: max-content;
        flex-wrap: nowrap;
    }
    .letterSection{
        width: 100%;
    }
}