.menuSection {
    max-width: 1115px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 20px;
    align-items: center;
    padding: 0px 20px;
}

.letterSection {
    max-width: 363px;
    display: flex;
    gap: 19px;
}

.letterTitle {
    margin: 0;
    color: #0139B6;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.letterList {
    display: flex;
    flex-direction: column;
}

@media (max-width: 870px) {
    .menuSection{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 23px;
        width: max-content;
        margin-bottom: 200px;
    }
    .letterSection{
        max-width: 295px;
    }
}

@media (max-width: 622px) {
    .menuSection{
        display: block;
        height: max-content !important;
        margin-bottom: 0px;
    }
    .letterSection{
        margin-bottom: 30px !important;
    }
}