@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #fafafa;
    margin: 0;
}

body > #amoforms_iframe_1388914 {
    display: none;
}

body.popUp{
    overflow: hidden;
}

.app-container {
    width: 100%;
}

.gradientBg {
    width: 100%;
    background: linear-gradient(154.42deg, #417CFF 0.69%, #0039B6 70.47%);
}

.contentContainer {
    max-width: 1115px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle, .pageDescription {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.pageTitle {
    margin: 180px 0 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}

.pageDescription {
    margin: 8px 0 82px;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

.blueTitle, .blueSubtitle {
    color: #0139B6;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.blueTitle {
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 0;
}

.blueSubtitle {
    font-size: 20px;
    line-height: 24px;
    white-space: pre-wrap;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
    letter-spacing: 0.05em;
    transition: all 0.2s ease-out;
}

a, button {
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    pointer-events: none;
}

.link {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    white-space: pre-wrap;
    opacity: 0.8;
    transition: all .2s ease-out;
}

.link:hover {
    text-decoration: underline;
    font-weight: 600;
    opacity: 1;
    cursor: pointer;
}

a:not(.link):hover {
    opacity: 0.8;
}

button:not(.MuiButtonBase-root) {
    transition: all 0.2s ease-out;
}

button:not(.MuiButtonBase-root):hover {
    opacity: 0.8;
}

hr {
    width: 68.51px;
    margin: 18px 0 0;
    background-color: white;
    border: 1.5px solid white;
    border-inline: none;
}

@media screen and (max-width: 1024px) {
    h1, h2, h3, h4, h5, h6, p, a {
        padding-inline: 10px;
    }

    .pageTitle {
        font-size: 40px;
        line-height: 51px;
    }

    .blueTitle {
        font-size: 32px;
        line-height: 43px;
    }
}