.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 221px;
    background-color: #002E92;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding: 30px 0;
    box-sizing: border-box;
}

.footerLeft{
    height: 100%;
    justify-content: space-between;
}

.footerLeft img{
    width: 91px;
}

.tagline{
    font-weight: 500;
    font-size: 15px;
    margin-top: 15px;
}

.copyright{
    font-size: 12px;
}

.navLinks a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    opacity: .8;
}

.navLinks a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer > div {
    display: flex;
    flex-direction: column;
}

.navLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footerRight{
    height: 100%;
}

.link{
    display: flex;
    margin-bottom: 20px;
    opacity: .8;
}

.link:hover {
    opacity: 1;
}

.link img{
    margin-right: 13px;
}

footer p {
    margin: 0;
}   

@media (max-width: 640px){
    .navLinks{
        display: none !important;
    }
    .footer{
        min-height: auto;
        height: max-content;
        flex-direction: column;
    }
    .footerRight{
        margin-top: 40px;
    }
    .footerLeft{
        text-align: center;
    }
}